<ion-view view-title="Profile">
  <!--controller: "ProfileCtrl"-->
  <ion-nav-buttons side="left">
    <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div ng-controller="ProfileCtrl">
      <div class="list card">
        <div class="bar bar-header bar-danger">
          <button class="button button-icon"><i class="icon-person-add"></i></button>
          <h1 class="title">Me</h1>
          <button class="button button-icon"><i class="icon-gear-b"></i></button>
        </div>
        <div class="row">
          <div class="item item-body" style="text-align: center; margin: auto;">
            <br><br>
            <img id="profile-image" src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270">
            <h3 id="profile-name">{{user.name}}</h3>
            <span id="profile-description" style="font-size:0.75em;">{{user.email}}</span>

          </div>
          <div style="margin:auto; margin-top:3.34em; height:100%;">
            <div class="item item-body" style="text-align: right;  font-size:0.9em; ">
              <div ng-repeat="item in errorRecords">
                <span style="display: inline-block; width: 5.1em;">{{ item[0].name }} </span>
                <span style="color:#abb2bc; text-align: center;">: {{ item.length }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
