<ion-view view-title="Profile">
  <!--controller: "ProfileCtrl"-->
  <ion-nav-buttons side="left">
    <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div ng-controller="ProfileCtrl">
      <div class="card">
        <div class="item item-divider" style="text-align:center;margin-top: 30px;">
          <h1>
            Profile
          </h1>
        </div>
        <div class="item item-text-wrap">
          <div class="item item-body" style="text-align:center;">
            <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270" style="width:100%"/>
          </div>
        </div>
        <div class="item item-divider" style="text-align:center;">
          <p style="font-weight:bold; font-size:1.2em; height:1.4em">{{user.name}}</p>
          <p>{{user.email}}</p>
          <p>{{user.city}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
