<ion-view  cache-view="false" view-title="Tracker">
  <!--<div ng-controller="ProfileCtrl">
    <ion-nav-buttons side="left">
      <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </div>-->
  <ion-header-bar align-title="left" class="item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search"/>        
    </label>
    <button class="button button-clear">
        Cancel
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <div class="row" style="text-align:center;">
        <div class="col col-30">
          <h6>시간</h6>
          <p>{{item.drivingTime}}</p>
        </div>
        <div class="col col-30">
          <h6>거리</h6>
          <p>{{item.distance}} km</p>
        </div>
        <div class="col col-30">
          <h6>평균 속도</h6>
          <p>{{item.averageSpeed}} km/h</p>
        </div>
      </div>

      <div class="item item-body" id="map" style="min-height: 250px;">
      </div>

      <div id="record" class="item tabs tabs-secondary tabs-icon-left" style="min-width:310px; height: 200px; margin :0 auto">

      </div>

    </div>

  </ion-content>
</ion-view>
