<ion-view view-title="측정">
  <ion-nav-buttons side="left">
    <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-header-bar align-title="left" class="item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search"/>        
    </label>
    <button class="button button-clear">
        Cancel
    </button>
  </ion-header-bar>
  
  <ion-pane class="i-content" style="height:100%">
    <!--<ion-grid>
      <ion-row>-->
        <div id="map" style="height:80%;"></div>
     <!--</ion-row>-->
      <!--<ion-row style="height:20%; padding-bottom:48px;" >-->
        <button class="button button-positive" ng-click="trackerInit()">
          <i class="icon ion-ios-loop-strong" ></i>
        </button>
      <!--</ion-row>
    </ion-grid>-->
  </ion-pane>
</ion-view>
