<ion-view view-title="측정">
  <ion-nav-buttons side="left">
    <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-header-bar align-title="left" class="item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search"/>        
    </label>
    <button class="button button-clear">
        Cancel
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <!--<br><br><br><br><br><br><br><br>-->
    <div class="row">
      <div class="col col-33 col-offset-25"><input type="button" id="mixBut" value="Start" /></div>
    </div>
    <div id="errormap" style="width:100%; height:300px;"></div>
    <!--<h6>test : {{measurements.test}}</h6>
    <h6>test : {{measurements.test2}}</h6>
    <h6>test : {{measurements.test3}}</h6>-->
</ion-view>
