<ion-view view-title="측정">
  <ion-nav-buttons side="left">
    <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-header-bar align-title="left" class="item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search"/>        
    </label>
    <button class="button button-clear" data-ng-href="#/tab/dash">
        Cancel
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <br><br><br><br><br><br><br><br>
    <div class="row">
      <div class="col col-33 col-offset-25"><input type="button" id="mixBut" value="Start" /></div>
    </div>
    <!--<h6>test : {{measurements.speedG}}</h6>-->
</ion-view>
